materials/Node_RED_Flow.json
[
    {
        "id": "77ca1f90.27ee68",
        "type": "tab",
        "label": "Flow4i"
    },
    {
        "id": "619a048b.af4bb4",
        "type": "Slack Bot In",
        "z": "77ca1f90.27ee68",
        "name": "syssts",
        "apiToken": "",
        "channel": "ibm-i-ressource",
        "x": 91,
        "y": 98,
        "wires": [
            [
                "c7bf34d9.95b778"
            ]
        ]
    },
    {
        "id": "7259fdea.e81fac",
        "type": "Slack Bot Out",
        "z": "77ca1f90.27ee68",
        "name": "syssts",
        "apiToken": "",
        "channel": "ibm-i-ressource",
        "x": 922.5,
        "y": 386,
        "wires": []
    },
    {
        "id": "c7bf34d9.95b778",
        "type": "watson-conversation-v1",
        "z": "77ca1f90.27ee68",
        "name": "Conversation-Slack",
        "workspaceid": "",
        "multiuser": false,
        "context": true,
        "x": 276.5,
        "y": 169,
        "wires": [
            [
                "70decdef.8234cc"
            ]
        ]
    },
    {
        "id": "b215947.bc01f68",
        "type": "function",
        "z": "77ca1f90.27ee68",
        "name": "Rebuild slack payload",
        "func": "msg.payload = msg.payload.output.text.join(\"\\n\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 682.5,
        "y": 386,
        "wires": [
            [
                "7259fdea.e81fac"
            ]
        ]
    },
    {
        "id": "f4544c91.f47238",
        "type": "http request",
        "z": "77ca1f90.27ee68",
        "name": "Call IBMi",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 856,
        "y": 169,
        "wires": [
            [
                "7bab2a6e.3735e4"
            ]
        ]
    },
    {
        "id": "8da90802.2f78",
        "type": "function",
        "z": "77ca1f90.27ee68",
        "name": "Build CPU URL",
        "func": "var url;\nurl = \"http://caplonsgprd-2.integration.ibmcloud.com:15329/system/cpu\" ;\nmsg.url = url;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 673,
        "y": 74.75,
        "wires": [
            [
                "f4544c91.f47238"
            ]
        ]
    },
    {
        "id": "70decdef.8234cc",
        "type": "switch",
        "z": "77ca1f90.27ee68",
        "name": "Action?",
        "property": "payload.context.ACTION",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "CPU",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ASP",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 3,
        "x": 472.5,
        "y": 169,
        "wires": [
            [
                "8da90802.2f78"
            ],
            [
                "e334b95d.06988"
            ],
            [
                "b215947.bc01f68"
            ]
        ]
    },
    {
        "id": "e334b95d.06988",
        "type": "function",
        "z": "77ca1f90.27ee68",
        "name": "Build ASP URL",
        "func": "var url;\nurl = \"http://caplonsgprd-2.integration.ibmcloud.com:15329/system/asp\"\nmsg.url = url;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 657.5,
        "y": 168,
        "wires": [
            [
                "f4544c91.f47238"
            ]
        ]
    },
    {
        "id": "7bab2a6e.3735e4",
        "type": "function",
        "z": "77ca1f90.27ee68",
        "name": "Extract value",
        "func": "var FirstKey;\n\nfor (var key in msg.payload) {\n    if (msg.payload.hasOwnProperty(key)) {\n        FirstKey = msg.payload[key];\n        break;\n    }\n}\n\nmsg.payload = FirstKey;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1006.5,
        "y": 252,
        "wires": [
            [
                "e761f622.03971",
                "c7bf34d9.95b778"
            ]
        ]
    },
    {
        "id": "e761f622.03971",
        "type": "debug",
        "z": "77ca1f90.27ee68",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1117,
        "y": 169,
        "wires": []
    }
]
